.link {
    text-decoration: none;
}

.sidebar__chatComponent {
    width: 100%;
    color: black;
    box-sizing: border-box;
    padding: 10px 15px;
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid #f6f6f6;
}

.sidebar__chatInfo {
    margin-left: 15px;
}